---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout seo={{ title: "Home", description: "Home page" }}>
  <h1 class="">Hello World</h1>
</Layout>
